/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* SMOOTH SCROLL */
html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins, sans-serif;
}

body{
    background: linear-gradient(120deg,#f4f6fb,#eef1ff);
    overflow-x:hidden;
}

/* LAYOUT */
.app{
    display:flex;
    height:100vh;
}

/* SIDEBAR */
/* SIDEBAR */
.sidebar{
    width:240px;
    height:100vh;
    background:white;

    position:fixed;
    left:0;
    top:0;

    padding:30px 20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.05);

    overflow-y:auto;
    z-index:1000;
}
.sidebar h2{
    color:#473dfa;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:14px 16px;
    margin-bottom:10px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover{
    background:#f1f2ff;
}

.sidebar .active{
    background:linear-gradient(90deg,#6c63ff,#8f85ff);
    color:white;
}

/* MAIN */
/* MAIN */
.main{
    margin-left:240px;
    width:calc(100% - 240px);

    padding:30px;
}

/* HEADER */
.main h1{
    font-size:32px;
    margin-bottom:5px;
}

.main p{
    color:#777;
    margin-bottom:30px;
}

/* CONTENT GRID */
.content{
    display:flex;
    gap:30px;
}

/* TEXT EDITOR CARD */
.editor{
    flex:2;
    background:white;
    padding:25px;
    border-radius:16px;
    box-shadow:0 15px 40px rgba(0,0,0,0.06);
}

textarea{
    width:100%;
    height:300px;
    padding:20px;
    border-radius:14px;
    border:1px solid #eee;
    font-size:16px;
    resize:none;
    outline:none;
}

textarea:focus{
    border:1px solid #6c63ff;
}

/* CONTROL PANEL */
.controls{
    flex:1;
    background:white;
    padding:25px;
    border-radius:16px;
    box-shadow:0 15px 40px rgba(0,0,0,0.06);
}

.controls label{
    font-weight:500;
    margin-top:15px;
    display:block;
}

select{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ddd;
    margin-top:8px;
    margin-bottom:15px;
}

/* SLIDERS */
input[type=range]{
    width:100%;
    margin-top:10px;
}

/* MAIN BUTTON */
#speakBtn{
    margin-top:20px;
    padding:18px;
    width:100%;
    border:none;
    border-radius:14px;
    font-size:18px;
    color:white;
    cursor:pointer;
    background:linear-gradient(90deg,#6c63ff,#8f85ff);
    box-shadow:0 8px 20px rgba(108,99,255,0.4);
}

/* OUTPUT CARD */
.output{
    margin-top:30px;
    margin-left:270px;
    width: 78%;
   /* width:calc(80% - 240px);*/
    background:white;
    padding:25px;
    border-radius:16px;
    box-shadow:0 15px 40px rgba(0,0,0,0.06);
}

audio{
    width:100%;
    margin-top:15px;
}
.tabs{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.tabs button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#eef1ff;
}

.activeTab{
    background:#6c63ff !important;
    color:white;
}